<!-- <app-header [cartArray]="productsArray"></app-header>
<app-product-listing (productAdded)="addToCartAtHeader($event)"></app-product-listing> -->

<app-header></app-header>
<router-outlet></router-outlet>
<app-footer></app-footer>



<!-- <ng-container [ngSwitch]='currentPage'>
  <app-product-listing *ngSwitchCase="'listing'"></app-product-listing>
  <app-add-product *ngSwitchCase="'addProduct'"></app-add-product>
  <div *ngSwitchDefault>Error Page</div>
</ng-container> -->

<!-- <app-add-product></app-add-product> -->
<!-- <app-product-details></app-product-details> -->
<!-- <app-login></app-login> -->
<!-- <app-register></app-register> -->

<!-- <app-test></app-test> -->
